<div
  [ngClass]="{ dark: isDarkMode }"
  class="min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300"
>
  <!-- Dark Mode Toggle Button -->

  <div class="flex items-center justify-between p-4">
    <!-- Title in the Center -->
    <h1 class="text-4xl font-bold text-center w-full">
      Angular - Youtube Player App
    </h1>

    <!-- Dark Mode Button aligned to the end -->
    <button
      (click)="toggleDarkMode()"
      class="px-4 py-2 ml-auto bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-100 rounded-lg shadow-md hover:bg-gray-300 dark:hover:bg-gray-600 transition-colors duration-300 whitespace-nowrap"
    >
      <span *ngIf="!isDarkMode">🌙 Dark Mode</span>
      <span *ngIf="isDarkMode">☀️ Light Mode</span>
    </button>
  </div>

  <div class="container mx-auto px-4 py-6 lg:flex lg:space-x-8">
    <!-- Video Player Section -->
    <div
      class="player-container lg:w-3/5 bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden mb-6 lg:mb-0"
    >
      <youtube-player
        #youtubePlayer
        [videoId]="selectedVideoId"
        class="youtube-player w-full h-64 lg:h-80"
        [playerVars]="{ autoplay: isAutoPlayEnabled ? 1 : 0 }"
        (ready)="onPlayerReady($event)"
        (stateChange)="onPlayerStateChange($event)"
      >
        ></youtube-player
      >

      <!-- Controls -->
      <div
        class="controls flex justify-between items-center p-4 bg-gray-100 dark:bg-gray-700 border-t"
      >
        <!-- Previous Button with Icon -->
        <button
          (click)="prevVideo()"
          [disabled]="selectedVideoIndex === 0"
          class="px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 disabled:bg-gray-300 disabled:cursor-not-allowed flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
          Previous
        </button>

        <!-- Next Button with Icon -->
        <button
          (click)="nextVideo()"
          [disabled]="selectedVideoIndex === videos.length - 1"
          class="px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 disabled:bg-gray-300 disabled:cursor-not-allowed flex items-center justify-center"
        >
          Next
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 ml-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="video-list-container lg:w-2/5">
      <!-- Header outside scrollable area -->
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">
          {{ playlistName || "Loading Playlist..." }}
        </h2>
        <!-- Autoplay -->
        <div class="flex items-center space-x-3">
          <span class="text-gray-900 dark:text-gray-100">Autoplay</span>

          <label class="relative inline-flex items-center cursor-pointer">
            <input
              type="checkbox"
              [(ngModel)]="isAutoPlayEnabled"
              class="sr-only peer"
            />
            <div
              class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-indigo-300 dark:peer-focus:ring-indigo-800 rounded-full peer dark:bg-gray-700 peer-checked:bg-indigo-600 transition duration-200"
            ></div>
            <span
              class="absolute left-[2px] top-[2px] w-5 h-5 bg-white rounded-full transition-transform transform peer-checked:translate-x-5"
            ></span>
          </label>
        </div>
      </div>

      <div
        class="video-list overflow-y-auto"
        #scrollableList
        (scroll)="onScroll()"
      >
        <ul class="space-y-4">
          <li
            *ngFor="let video of videos; let i = index"
            (click)="selectVideo(video.videoId, i)"
            [ngClass]="{
              'bg-indigo-100 dark:bg-indigo-600 border border-indigo-500':
                video.videoId === selectedVideoId,
              'bg-white dark:bg-gray-800': video.videoId !== selectedVideoId
            }"
            class="flex items-center space-x-4 p-4 rounded-lg shadow-lg hover:shadow-xl transition duration-200 cursor-pointer"
          >
            <img
              [src]="video.thumbnail"
              alt="{{ video.title }}"
              class="w-24 h-16 object-cover rounded-lg"
            />
            <div class="mt-4">
              <h3
                class="text-lg font-semibold text-gray-900 dark:text-gray-100"
              >
                {{ video.title }}
              </h3>
              <div class="flex justify-between">
                <p class="text-sm text-gray-600 dark:text-gray-400">
                  {{ video.channelTitle }}
                </p>
                <!-- | -->
                <p class="text-sm text-gray-500 dark:text-gray-500">
                  {{ video.publishTime }}
                </p>
              </div>
            </div>
          </li>
        </ul>

        <div class="flex justify-center mt-4">
          <button
            *ngIf="isLoading"
            type="button"
            class="bg-indigo-500 text-white px-4 py-2 flex items-center rounded-lg"
            disabled
          >
            <svg
              class="animate-spin h-5 w-5 mr-2 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
              ></path>
            </svg>
            Loading more videos...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
